.jumbotron {
  background: #FFD6F2;
  color: #878085;
  padding-bottom: 20px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #9B9399;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
    .topimage {
      display: inline-block;
    }
    #topnav			{ clear:both; margin:0; padding:0; font-size:22.3px; font-family: Cambria; text-align:center;}
    #topnav ul li 	{ display:inline; padding:0 10px; }



